numpy                                                      
pandas                                                     
matplotlib                                         
yfinance                                                   
streamlit                                                  
pickle   
seaborn
datetime
